.section-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    margin: 0;
    text-align: center;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent; 
    border-bottom: 20px solid transparent; 
    border-left: 20px solid #000000; 
  }
.card-container {
    flex: 0 0 auto;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s;
    margin: 0 10px 20px 10px;
    overflow: hidden;
}

.card-container:hover {
    transform: scale(1.05);
}

.sender-card {
    background-color: #a3c6e3;
}

.amount-type-card {
    background-color: #c4f1c4;
}

.recipient-card {
    background-color: #e4d8f0;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input, select {
    width: calc(75% - 1em);
    padding: 1em;
    margin-bottom: 1.5em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #6cb4ee;
    color:#2980b9
}
.section-btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.btn-general {
    margin-bottom: 10px;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-general:hover {
    background-color: #2980b9;
}
.btn-back:hover{
    background-color: #989898;
    color: white;
    cursor: pointer;
}
button.btn-back {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0 10px; 
    border-radius: 5px;
    border: none;
    background-color: #fff;
} 
button.btn-stopButton:hover,
button.btn-playButton:hover {
   background-color: #989898;
}
button.btn-playButton {
    background: #00ff6a;
    color: white;
    border: none;
    margin: 0.2em;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.5em;
    cursor: pointer;
}
button.btn-stopButton {
    background: #9b0606;
    color: white;
    border: none;
    margin: 0.2em;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.5em;
    cursor: pointer;
}
.url-input{
    display: flex;
}
.lbl-url{
    padding-top: 0.5em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}