form {
    text-align: center;
    margin-top: 20px;
  }
  .btn-create:hover,
  .btn-send:hover {
    background-color: #989898;
    border: none;
  }
  button.btn-create,
  button.btn-send,
  button.btn-dashboard {
    padding: 15px 20px; 
    margin: 0 10px; 
    border-radius: 5px;
    border: 1px solid #ffc400;
    background: #ffc400;
    color: #fff;
    cursor: pointer;
  }
  h1{
    margin-left: 1em;
  }
.logo-style{
  background-color: #ffc400;
  margin-left: 1em;
  border-radius: 5px;
}
.myheader h1, .myheader img {
  display:inline-block;
  vertical-align:middle;
}
.myheader{
  background-color: black;
  color: white;
  width: 100%;
  margin: 0; 
  box-sizing: border-box; 
}